<div class="row">
    <table class="table table-hover col-md-12 col-sm-none col-none">
        <thead>
            <th>No.</th>
            <th>Bandera</th>
            <th>Nombre</th>
            <th>Población</th>
            <th></th>
        </thead>
        <tbody>
            <tr *ngFor="let pais of paises; let i = index">
                <td>{{i+1}}</td>
                <td>
                    <img class="small-flag" [src]="pais.flags.png" alt="">
                </td>
                <td>{{ pais.name.common + "/ " + pais.name.official }}</td>
                <td> {{ pais.population | number}} </td>
                <td>
                    <button mat-icon-button color="blue">
                        <mat-icon [routerLink]="'/paises/pais/' + pais.cca2">visibility</mat-icon>
                    </button>
                    <!-- <a [routerLink]="['/paises/pais/' + pais.cca2]">ver mas...</a> -->
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <div class="card col-12 col-sm-12 col-md-none" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div> -->
</div>