<!-- <h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item cursor-pointer" 
    routerLink="/paises/pais"
    routerLinkActive="active">
        Por País
    </li>
    <li class="list-group-item cursor-pointer"
    routerLink="/paises/region"
    routerLinkActive="active">
        Por Region
    </li>
    <li class="list-group-item cursor-pointer"
    routerLink="/paises/capital"
    routerLinkActive="active">
        Pos Capital
    </li>
    <li class="list-group-item cursor-pointer" (click)="logout()">
        LogOut
    </li>
</ul> -->
<mat-toolbar color="primary">
    <span>Búsquedas</span>
    <button mat-icon-button (click)="toggle()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<mat-selection-list [multiple]="false">
    <mat-list-item>
        <button mat-raised-button class="w-100 h-100" [color]="path == 'pais'? 'primary' : ''" (click)="navigateTo('pais')">Por País</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button class="w-100 h-100" [color]="path == 'region'? 'primary' : ''" (click)="navigateTo('region')">Por Region</button>
    </mat-list-item>
    <mat-list-item>
        <button mat-raised-button class="w-100 h-100" [color]="path == 'capital'? 'primary' : ''" (click)="navigateTo('capital')">Por Capital</button>
    </mat-list-item>
</mat-selection-list>
<div class="text-center">
    <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</div>
