<!-- <h2>Busquedas</h2>
<hr>
<ul class="list-group">
    <li class="list-group-item cursor-pointer" 
    routerLink="/paises/pais"
    routerLinkActive="active">
        Por País
    </li>
    <li class="list-group-item cursor-pointer"
    routerLink="/paises/region"
    routerLinkActive="active">
        Por Region
    </li>
    <li class="list-group-item cursor-pointer"
    routerLink="/paises/capital"
    routerLinkActive="active">
        Pos Capital
    </li>
    <li class="list-group-item cursor-pointer" (click)="logout()">
        LogOut
    </li>
</ul> -->
<mat-toolbar color="primary">
    <span>Búsquedas</span>
    <button mat-icon-button (click)="toggle()">
        <mat-icon>close</mat-icon>
    </button>
</mat-toolbar>
<mat-selection-list [multiple]="false">
    <mat-list-item>Por País</mat-list-item>
    <mat-list-item>Por Región</mat-list-item>
    <mat-list-item>Por Capital</mat-list-item>
</mat-selection-list>
<div class="text-center">
    <button mat-icon-button (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</div>
